*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'DM Serif Display', serif;
    font-family: 'Poppins', sans-serif;
}

:root{
    --white: #fff; 
    --black: #000;
    --yellow:#f8dd9f;
  }

  

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 1; 
}


ul{
    display: flex;
    gap: 4vh;
    list-style-type: none;
}

.nav-link > a{
    text-decoration: none;
    font-size: 90%;
    color: var(--black);  
 }

a:hover{
    text-decoration: underline;

}

.btn-black:hover{
    transform: scale(1.2);
    background-color:  #1F2937;;
}


.btn-white:hover{
    transform: scale(1.2);
    background-color:  #1F2937;
    color: var(--white);
}


 .btn-black{
    background: var(--black);
    color: var(--white);
    padding: 10px;
    font-size: 60%;
    border-radius: 9%;
    width: 150px;
    cursor: pointer;
    letter-spacing: 1.5px;
    border: none;
    transition: all 0.2s ease-in-out;
    z-index: 1;
 }

 .btn-white{
    background: var(--white);
    color: var(--black);
    padding: 10px;
    font-size: 60%; 
    border-radius: 9%;
    cursor: pointer;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    transition: all 0.2s ease-in-out;
}


.logo{
    cursor: pointer;
    padding-top: 0.75%;
    padding-bottom: 1%;

}

.section {
    max-width: 90%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}


.section1{
    display: flex;
    background-image: url(./Materiale/topbillede.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: var(--white);                   
    height: 50vh;  
    align-items: center;                                                            
}

.container1 {
    padding: 10%;
    letter-spacing: 1%;
}

.container1 > h1{
    font-size: 40px; 
    padding-bottom: 2%;
    
}

.container1 > p{
    padding-bottom: 3%;
}


.container2{
    background: var(--yellow);
    text-align: center;
    padding-bottom: 2%;
 
}

.container2 > h2 {
    font-size: 40px; 
    padding-top: 5%;
    padding-bottom: 0.5%;
}

.container2 > p{
    padding-bottom: 1%;
}


.section3 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4% 0 3% 0%; 
}

.three-left {
    display: flex;
    justify-content: space-between;
}

.three-left > img {
    width: 70%; 
    
}

.three-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: -10%;
}

.three-right > h1 {
    font-size: 40px; 
    margin-bottom: 10px; 
}

.three-right > p {
    font-size: 1rem; 
    line-height: 1.6; 
    margin-bottom: 20px; 
}


.section4 {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 50vh;
    color: var(--white); 
    padding-top: 20px;
    
}


.img1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./Materiale/ydelser.jpg);
    background-size: 100% 100%;
    font-size: 70px;

}

.img2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./Materiale/service.jpg);
    background-size: 100% 100%;
    font-size: 70px;
}

.img3{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./Materiale/kontaktos.jpg);
    background-size: 100% 100%;  
    font-size: 70px;
    margin-right: -17px;
}


.section5{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2%;
    gap: 2vw;
    padding-bottom: 2%;
}


.five-right > img {
    width: 80%;
    height: 100%;

}


.five-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2vh;
}

.five-left > h1 { 
    font-size: 40px;
}


.section6 {
    background-color: var(--yellow);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    padding-top: 2%;
    padding-bottom: 7%;
}


.six-left{
    display: flex;
    flex-direction: column;
    gap: 2vh;
}
.six-right {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    align-items: flex-end;
}
.six-right input,
#besked {
    width: 40vw;
    height: 4vh;
    border: none;
    border-radius: 10px;
    padding: 10px;
}

#besked {
    height: 8vh;
}



.grid-container{
    background-color: black;
    color: var(--white);
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 41vh;
    padding: 1% 15vw;
}

.find {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.social-logos img:nth-child(2) {    
    width: 9%;
}

.information {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}


.about {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}
.shop {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.contact-links > a {
    color: var(--white);
}





